.contactContainer {
    background-color: var(--cream);
    padding-bottom: 40px;
}

.contactContainer h1 {
    margin: 0;
    padding-top: 40px;
    text-align: center;
    color: var(--orange);
}

.contactDescription {
    margin: auto;
    max-width: 1000px;
    padding: 30px;
    font-size: 18px;
}

.timetableContainer {
    background-color: white;
    max-width: 500px;
    margin: 0 auto 40px auto;
    padding: 20px 30px;
}

.subtitle {
    margin-top: 0;
}

.left,
.bold {
    font-weight: bold;
}

.right {
    text-align: right;
}

.timetable {
    max-width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contactLinks {
    color: var(--orange);
    transition: border-bottom 0.5s ease;
  }
  
.contactLinks:hover {
    border-bottom: 1px solid var(--orange);
    width: 100%;
}

.mapAndInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.mapImage {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.barContactTimetable .contactLinks{
    color: rgb(109, 109, 109);
    border-bottom: 1px solid var(--orange);
}

.barContactTimetable .contactLinks:hover{
    border: none;
    color: var(--orange);
}

@media screen and (max-width: 850px) {
    .mapAndInfo {
        flex-direction: column;
        gap: 20px;
    }

    .timetableContainer {
        padding-left: 20px;
        padding-right: 20px;
    }
}