.carouselContainer {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    z-index: 1;
}

.carousel__item {
    min-height: 200px;
    color: var(--vc-clr-white);
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.carouselImage{
    max-width: 900px;
    max-height: 550px;
    object-fit: contain;
}
  
.carousel__slide {
    padding: 10px;
}
  
.carousel__prev,
.carousel__next {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
}

.carousel__icon{
    width: 60px;
    height: 60px;
}

.carousel__pagination{
    margin: 0;
    padding-bottom: 20px;
}

@media screen and (max-width: 1170px) {
    .carouselImage{
        max-width: 500px;
        max-height: 400px;
    }
}

@media screen and (max-width: 700px) {
    .carouselImage{
        max-width: 300px;
        max-height: 300px;
        background-color: white;
    }

    .carousel__prev{
        left: -25px;
    }

    .carousel__next {
        right: -25px;
    }
}