:root {
    --orange : rgb(245, 127, 23);
    --cream : #f5f2ec;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

img[alt]::after {
    display: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

.boldText{
    font-weight: bold;
}

.subtitle{
    text-align: center;
}

.bodyContainer {
    width: 80%;
    margin: 0 auto;
}

.button{
    color: var(--orange);
    background-color: white;
    border: 1px solid var(--orange);
    padding: 15px 25px;
}

#topButton {
    position: fixed;
    bottom: 90px;
    right: 16px;
    /* display: none; */
    background-color: var(--orange);
    color: #fff;
    border: 1px solid white;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 860px) {
    .bodyContainer {
        width: 95%;
    }

    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }
}