header {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
}

.logoLink{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: white;
}

.logoLink span{
    min-width: 250px;
}

.logoLink img{
    max-width: 40px;
}

.navMenuIcon{
    position: absolute;
}

.navMenu{
    display: flex;
    align-items: center;
}

.dropdown{
    padding-right: 20px !important;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdownMenu {
    display: none;
    margin-top: 10px;
    position: absolute;
    background-color: rgb(190, 190, 190);
    flex-direction: column;
}

.dropdownActive{
    display: flex;
}

.dropdownMenu a{
    color: white;
    padding: 10px;
}

.navMenuItem{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    transition: color 0.5s ease;
}

.navMenuItem:hover {
    color: rgb(245, 127, 23);
}

.logoLink.router-link-active{
    border-bottom: none;
}

.router-link-active {
    border-bottom: 1px solid rgb(245, 127, 23);
}

/* TODO: Responsive */