header {
    background-color: #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    font-family: Metropolis-Fallback, Noto Color Emoji, sans-serif;
}

.logoLink{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: black;
}

.logoName{
    min-width: 250px;
}

.logoImg{
    max-width: 40px;
}

.navMenuIcon{
    position: absolute;
}

.navMenu{
    display: flex;
    align-items: center;
}

.dropdown{
    padding-right: 20px !important;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdownMenu {
    display: none;
    margin-top: 10px;
    position: absolute;
    background-color: rgb(190, 190, 190);
    flex-direction: column;
    z-index: 1000;
}

.dropdownActive{
    display: flex;
}

.dropdownMenu a{
    color: black;
    padding: 10px;
}

.navMenuItem{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    transition: color 0.5s ease;
}

.navMenuItem:hover {
    color: var(--orange);
}

.logoLink.router-link-active{
    border-bottom: none;
}

.router-link-active {
    border-bottom: 1px solid var(--orange);
}

@media screen and (max-width: 860px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .hamburger span {
        display: block;
        height: 2.5px;
        width: 32px;
        margin: 3px auto;
        background-color: #FFF;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    .hamburger span:nth-child(1) {
        transform-origin: top left;
    }
    
    .hamburger span:nth-child(3) {
        transform-origin: bottom left;
    }
    
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg);
    }
    
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: 6.5px;
    }

    .navMenu{
        position: fixed;
        right: -100%;
        top: 72px;
        gap: 0;
        flex-direction: column;
        background-color: #acacac;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .navMenu.active{
        right: -60%;
        align-items: flex-start;
    }

    .navMenuItem{
        margin: 20px 30px;
    }

    .navDropdown{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .dropdownMenu{
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .logoLink {
        font-size: 18px;
    }

    .logoImg{
        max-width: 30px;
    }

    .hamburger span {
        width: 28px;
    }

    .hamburger.active span:nth-child(3) {
        margin-top: 4.5px;
    }

    .navMenu{
        top: 67px;
    }

    .navMenu.active{
        right: 0;
        align-items: center;
    }

    .navDropdown{
        display: contents;
    }

    .dropdownMenu{
        width: 100%;
        align-self: flex-start;
        top: 160px;
    }
}